body {
    display: flex-column;
    font-family: sans-serif;
    background-color: #d1d1d1;
}

h1 {
    text-align:center
}

table {
    border-collapse: collapse;
    width: 100vw;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 2px 6px;
}

form {
    margin: 0;
    padding: 0;
}

#input-id {
    width:10%;
}

#input-mod {
    width:40%;
}

.burndown {
    display: flex;
    justify-content: center;
    white-space: pre;
    font-family: monospace;
  }
