body {
    font-family: sans-serif;
}

h1 {
    text-align:center
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 2px 6px;
}

form {
    margin: 0;
    padding: 0;
}

.add-form {
    display:flex;
    align-items:center;
    justify-content:center;
}

.add-form {
    display:flex;
    align-items:center;
    justify-content:center;
}


.mod-form {
    display:flex;
    align-items:center;
    justify-content:center;
}

#input-add {
    width:50%;
}

#input-id {
    width:10%;
}

#input-mod {
    width:40%;
}
